@charset 'utf-8';

@import 'settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
//@include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;
.app-body {
  margin-top: 30px;
  @include breakpoint(xlarge only) {
    margin-right: 30px;
    margin-left: 30px;
  }
}
.hero {
  background-color: #000;
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    font-family: "Georgia";
    font-size: 60px;
    line-height: 68px;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px black;
  }
  p {
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px black;
  }
  h1, p {
    @include breakpoint(xlarge only) {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}
.menu {
  li {
    color: #444;
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  li.active {
    color: #761113;
    font-weight: bold;
  }
}

h2 {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #761113;
  padding: 30px 15px;
}
.card {
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  .card-category {
    background-color: rgba(0,0,0,.65);
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 25px;
    line-height: 25px;
    position: absolute;
    z-index: 1;
  }
  .cover {
    width: 100%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #000;
  }
  label {
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 11px;
    color: #999999;
    margin-bottom: 15px;
  }

  h4 {
    font-family: "Georgia";
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  p {
    font-size: 12px;
    line-height: 20px;
    color: #444;
  }
  .input-group {
    margin: 0;
    input {
      font-size: 13px;
      color: #444;
    }
    .input-group-button {
      display: none;
      button {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
